In [ ]:
# raw string
path="C:\desktop\norway"
print(path)

C:\desktop
orway

In [ ]:
path=r"C:\desktop\norway"
print(path)

C:\desktop\norway

In [ ]:
# re.search()

import re
result=re.search('students',r'All of the students of NLPMT are genious')
print(result.group())

students

In [ ]:
# re.match()

import re
result=re.match('All',r'All of the students of NLPMT are genious')
print(result) 
print(result.group())

<re.Match object; span=(0, 3), match='All'>
All

In [ ]:
# re.sub()

import re
string="abc xxx abc yyy"
result=re.sub(r"xxx|yyy", "abc", string)
print(result)

abc abc abc abc

In [ ]:
# re.compile()

import re
pattern=re.compile('Analytics')
result1=pattern.findall('I teach Analytics')
print(result1)
result2=pattern.findall('i teach Analytics which is important for Data Science and Analytics')
print(result2)

['Analytics']
['Analytics', 'Analytics']

In [ ]:
# re.findall()
import re
result1=re.findall('founded','Andrew NG founded Coursera, He also founded deeplearning.ai')
print(result1)

['founded', 'founded']

In [45]:
text = "I want to buy a mobile between 200 and 400 euros"
result = re.findall(r"\d+", text)
print(result)

['200', '400']

In [44]:
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.group())

Spain

In [ ]:
import re
s = "Jason's birthday is on 1991-09-21"
match = re.search(r'\d{4}-\d{2}-\d{2}', s)
print(match.group())

1991-09-21

In [35]:
import re
text = "Please contact us at contact1@tutorialspoint.com for further information."+\
        " You can also give feedbacl at feedback@tp.com"
emails = re.findall(r"[a-z]+@[a-z]+\.[a-z]+", text)
print(emails)

['feedback@tp.com']

In [43]:
import re
text = "Please contact us at contact1_ar@tutorialspoint.com for further information."+\
        " You can also give feedbacl at feedback@tp.com"
emails = re.findall(r"[a-z0-9\.\-+_]+@[a-z0-9\.\-+_]+\.[a-z]+", text)
print(emails)

['contact1_ar@tutorialspoint.com', 'feedback@tp.com']